
    <!-- Map Begin -->
    <div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d6893.563531950398!2d75.46724950471729!3d11.837072412803392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDUwJzAzLjkiTiA3NcKwMjgnMDEuMiJF!5e0!3m2!1sen!2sin!4v1682229312933!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>As you might expect of a company that began as a retailers in mens fashion, we pay
                                strict attention.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>Kannur</h4>
                                <p>Mavilayi, Kannur, Kerala <br />+91-1234567890</p>
                            </li>
                            <li>
                                <h4>Kozhikode</h4>
                                <p>Brocamp, Kakkanchery <br />+91-987654321</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Contact Section End -->