
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row " >
                <div class="col-lg-8 mx-auto ms-5">
                    <div class="shopping__cart__table ms-5">
                        <img src="/img/wishlistempty.png" alt="">
                           
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 ms-5">
                            <div class="continue__btn ms-5">
                                <a class="ms-5" href="/shop">Continue Shopping</a>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->