

<body>
    <section class="vh-100" style="background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(255, 244, 225) 100%);">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://i0.wp.com/www.theunstitchd.com/wp-content/uploads/2018/05/David-Beckhams-style.jpg?fit=657%2C1256" 
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 700px;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/signin" method="post">

                  <div class="d-flex align-items-center pb-1">
        
                    <span class="h1 fw-bold mb-0"><img src="https://assets.upstox.com/content/dam/aem-content-integration/assets/images/logos/BELLACASA/square_BELLACASA_com.png " alt="ddddd" style="width: 12vw;"></span>

                  </div>

                  <h5 class="fw-normal mb-3 pb-3 " style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4 d-flex">
                       <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign in
              </button>         <p class=" pb-lg-2 mt-2 ms-3" style="color: #393f81;">Don't have an account? <a href="/signup"
                      style="color: #393f81;">Register here</a></p>         </div>
             



                  

                     
                 
                </form>
                 <p class="fw-bold text-danger">{{failmessage}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>